import this

In [8]:
array = [3, 5, "timi", 3, "jane", 5, 4, 3, 4, 3, 3, "timi"]
dict_arr = {}
for i in array:
    dict_arr[i] = dict_arr.get(i,0) +1
print(dict_arr)

{3: 5, 5: 2, 'timi': 2, 'jane': 1, 4: 2}

In [9]:
count = []
for i, j in dict_arr.items():
    count.append(j)
print(count)

[5, 2, 2, 1, 2]

In [10]:
d_max = count[0]
for i in count:
    if i > d_max:
        d_max = i
print(d_max)

5

In [11]:
for k, n in dict_arr.items():
    if n == d_max:
        print(k)

3

In [12]:
count.sort()
print(count)
print(count[-1])

[1, 2, 2, 2, 5]
5

In [13]:
count
print(count)

[1, 2, 2, 2, 5]

In [15]:
print(count.reverse())

None

In [19]:
guess_here = 10
guess_count = 0
number_guess = 3
while guess_count < number_guess:
    guess = int(input('guess: '))
    guess_count = guess_count + 1
    if guess_here == guess:
        print('your guess was right')
    else:
        print('guess again!!!')
else:
    print('game over')

guess: 3
guess again!!!
guess: 2
guess again!!!
guess: 10
your guess was right
game over

In [11]:
tam = {"name": "hello", "age":34}
tam["laptop"] = "yes"
print(tam)

{'name': 'hello', 'age': 34, 'laptop': 'yes'}

In [5]:
i = 10
while i < 20:
    print(i)
    i = i + 1
    print(i)

10
11
11
12
12
13
13
14
14
15
15
16
16
17
17
18
18
19
19
20

In [4]:
dict_data = [{"name":"tobi", "scores":{"eng":50,
                                      "math":70, 
                                      "econs":95},
            "class": "ss1",
             "family": "both"},
            {"name": "manuel", "scores":{"eng":44,
                                          "math":65,
                                         "econs":79},
            "class": "ss2", "family":"single"}]
print(dict_data)

[{'name': 'tobi', 'scores': {'eng': 50, 'math': 70, 'econs': 95}, 'class': 'ss1', 'family': 'both'}, {'name': 'manuel', 'scores': {'eng': 44, 'math': 65, 'econs': 79}, 'class': 'ss2', 'family': 'single'}]

In [16]:
n = 20
sum = 0
i = 10
while i <= n:
    sum = sum + i
    i = i + 1
print("the sum is", sum)

the sum is 165

In [ ]:
#1. find the average scores for each of the student
#2. add that average scores inside the dictionary l.e :  "average": 50
#3.write a query that will select all student in a. ss2 b. both
#4. what is the modal for tobi

In [17]:
new_scores = []
for i in dict_data:
    arr = []
    score_vals = i["scores"]
    for n, j in score_vals.items():
        arr.append(j)
    new_scores.append(arr)
print(new_scores)

[[50, 70, 95], [44, 65, 79]]