 # BIKESHARE ANALYSIS

In [3]:
import os
import pandas as pd
file = os.listdir("C:/Users/USER/Documents/data_analysis/datas")
print(file)

['accounts.csv', 'anglophone.csv', 'Brewery_data.csv', 'chicago.csv', 'Demo SQL Business Case.pdf', 'diabetes.csv', 'francophone.csv', 'Iris.csv', 'new_york_city.csv', 'Online Retail.xlsx', 'orders.csv', 'region.csv', 'sales_reps.csv', 'tmdb-movies.csv', 'usa_gov.txt', 'washington.csv', 'web_events.csv', 'yellow_tripdata_2015-01.csv', 'yellow_tripdata_2016-01.csv', 'yellow_tripdata_2016-02.csv', 'yellow_tripdata_2016-03.csv']

In [4]:
city_data = {
    'chicago' : "C:/Users/USER/Documents/data_analysis/datas/chicago.csv", 
    'new_york' : "C:/Users/USER/Documents/data_analysis/datas/new_york_city.csv",
    "washinton" : "C:/Users/USER/Documents/data_analysis/datas/washington.csv"
}

In [6]:
def get_city_data():
    city = input("Enter city data: ").lower()
    df = pd.read_csv(city_data[city])
    return df


get_city = get_city_data()

Enter city data: chicago

KeyError: 'chicago '

In [5]:
def get_city_data():
    city = input("enter city data: ").lower()
    df = pd.read_csv(city_data[city])
    return df

def clean_data(df):
    df[["start_date", "start_time"]] = df["Start Time"].str.split(" ", expand = True)
    df[["end_date", "end_time"]] = df["End Time"].str.split(" ", expand = True)
    df = df.drop(["Start Time", "End Time"], axis = 1)
    df["start_date"] = pd.to_datetime(df["start_date"])
    df["end_date"] = pd.to_datetime(df["end_date"])
    return df.head()

get_city = get_city_data()
clean_data = clean_data(get_city)
clean_data

enter city data: chicago

KeyError: 'chicago '

In [4]:
df = pd.read_csv(city_data["washinton"])
df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type'],
      dtype='object')

In [5]:
 df[["start_date", "start_ time"]] = df["Start Time"].str.split(" ", expand = True)

In [6]:
df[["end_date", "end_ time"]] = df["End Time"].str.split(" ", expand = True)

In [7]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,start_date,start_ time,end_date,end_ time
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,2017-06-21,08:36:34,2017-06-21,08:44:43
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,2017-03-11,10:40:00,2017-03-11,10:46:00
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,2017-05-30,01:02:59,2017-05-30,01:13:37
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,2017-04-02,07:48:35,2017-04-02,08:19:03
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,2017-06-10,08:36:28,2017-06-10,09:02:17

In [8]:
df= df.drop(["Start Time", "End Time"], axis = 1)
df.head()

,Unnamed: 0,Trip Duration,Start Station,End Station,User Type,start_date,start_ time,end_date,end_ time
0,1621326,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,2017-06-21,08:36:34,2017-06-21,08:44:43
1,482740,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,2017-03-11,10:40:00,2017-03-11,10:46:00
2,1330037,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,2017-05-30,01:02:59,2017-05-30,01:13:37
3,665458,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,2017-04-02,07:48:35,2017-04-02,08:19:03
4,1481135,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,2017-06-10,08:36:28,2017-06-10,09:02:17

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Trip Duration  300000 non-null  float64
 2   Start Station  300000 non-null  object
 3   End Station    300000 non-null  object
 4   User Type      300000 non-null  object
 5   start_date     300000 non-null  object
 6   start_ time    300000 non-null  object
 7   end_date       300000 non-null  object
 8   end_ time      300000 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 20.6+ MB

In [27]:
df.head()

,Unnamed: 0,Trip Duration,Start Station,End Station,User Type,start_date,start_ time,end_date,end_ time
0,1621326,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,2017-06-21,08:36:34,2017-06-21,08:44:43
1,482740,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,2017-03-11,10:40:00,2017-03-11,10:46:00
2,1330037,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,2017-05-30,01:02:59,2017-05-30,01:13:37
3,665458,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,2017-04-02,07:48:35,2017-04-02,08:19:03
4,1481135,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,2017-06-10,08:36:28,2017-06-10,09:02:17

In [30]:
df[["start_date", "end_date"]].value_counts().head()

start_date  end_date
2017-04-15  2017-04-15    2829
2017-03-25  2017-03-25    2766
2017-04-14  2017-04-14    2763
2017-06-28  2017-06-28    2659
2017-04-13  2017-04-13    2631
dtype: int64

In [34]:
df[["start_year", "start_month", "start_day"]] = df["start_date"].str.split("-", expand = True)

In [35]:
df.head()

,Unnamed: 0,Trip Duration,Start Station,End Station,User Type,start_date,start_ time,end_date,end_ time,start_year,start_month,start_day
0,1621326,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,2017-06-21,08:36:34,2017-06-21,08:44:43,2017,06,21
1,482740,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,2017-03-11,10:40:00,2017-03-11,10:46:00,2017,03,11
2,1330037,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,2017-05-30,01:02:59,2017-05-30,01:13:37,2017,05,30
3,665458,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,2017-04-02,07:48:35,2017-04-02,08:19:03,2017,04,02
4,1481135,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,2017-06-10,08:36:28,2017-06-10,09:02:17,2017,06,10

In [40]:
from datetime import date
#import calender
my_date = date.today()
print(my_date)

2022-06-28

In [41]:
df["start_date"] = pd.to_datetime(df["start_date"])
df["end_time"] = pd.to_datetime(df["end_date"])

In [42]:
df["DayOfWeek"] = df["start_date"].dt.weekday

In [43]:
df.head()

,Unnamed: 0,Trip Duration,Start Station,End Station,User Type,start_date,start_ time,end_date,end_ time,start_year,start_month,start_day,end_time,DayOfWeek
0,1621326,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,2017-06-21,08:36:34,2017-06-21,08:44:43,2017,06,21,2017-06-21,2
1,482740,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,2017-03-11,10:40:00,2017-03-11,10:46:00,2017,03,11,2017-03-11,5
2,1330037,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,2017-05-30,01:02:59,2017-05-30,01:13:37,2017,05,30,2017-05-30,1
3,665458,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,2017-04-02,07:48:35,2017-04-02,08:19:03,2017,04,02,2017-04-02,6
4,1481135,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,2017-06-10,08:36:28,2017-06-10,09:02:17,2017,06,10,2017-06-10,5

In [44]:
df["DayOfWeek"].value_counts()

2    48156
1    44519
3    43946
4    43280
5    40593
0    39930
6    39576
Name: DayOfWeek, dtype: int64

In [45]:
df = pd.read_csv(city_data["washinton"])
df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type'],
      dtype='object')

In [46]:
name = {"Unnamed: 0": "id"}
df.rename(columns = name, inplace = True)
df.columns

Index(['id', 'Start Time', 'End Time', 'Trip Duration', 'Start Station',
       'End Station', 'User Type'],
      dtype='object')

In [2]:
def time_stats(df):
    # Display the most common month
    most_common_month = df["start_month"].value_counts().idxmax()
    month = dict(enumerate(calendar.month_name))
    
    # Display the most common day of the week
    most_common_day = df["DayOfWeek"].value_counts().idxmax()
    days = dict(enumerate(calendar.day_name))
    
    # Display the most common hour
    most_common_hour = df["Hour"].value_counts().idxmax()
    
    
    print("---Most common month---")
    print(f"{month[most_common_month]}\n")
    
    print("---Most common day of the week---")
    print(f"{days[most_common_day]}\n")
    
    print("---Most common hour---")
    print(most_common_hour)

time_stats = time_stats(df)

NameError: name 'df' is not defined